
/* I also removed the class "container-fluid" from the body, as it created a small margin */
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* This creates a gradient as the background color */
    /* The angle is 135, so it goes from bottom right to top left */
    background: linear-gradient(135deg, #f7f7f7, #dee4eb);
}

footer {
    margin-top: 10px;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    /* This removes any padding on the bottom */
    bottom: 0;
/* this fixes the position of the footer at the bottom */
    /* position: relative; */
    font-family: 'kepler-std-dis', serif;
    font-size: 17px;
}

nav{
    background-color: #f4f3f3;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.1);
    font-family: 'kepler-std-dis', sans-serif;
    font-weight: 600;
    font-size: 16px;
    
    
}

/*this is for the initial logo*/
.HauteTechOrientale-Logo{
    /* use max-width instead of width, so that max width can adapt if the browser is smaller, while width just stays the same */
    max-width: 300px;
    max-height: auto;
    /* max-height: 100px; */
    margin:auto;
    object-fit: cover;
    object-position: left center;
}

.HauteTechOrientale-Logo:hover{
    filter: opacity(80%);
    transition-duration: 0.6s;
    transform: scale(1.02);
}
/* idk why, i can't change the intial color of the text, so I'll just leave it like text-dark */
.list-behavior{
    border-bottom: 2px solid #ebebeb45;
    margin: 5px;
}

/* Here, i wanted to underline the text when it hovers over */
.list-behavior:hover{
    border-bottom: 2px solid #173ac5;
    transition-duration: 0.8s;
}

/* This will only apply to the unordered list elements that are in the navbar */
.single-line{
    display: inline-block;
    /* basically, this suppresses any line breaks (makes everything in one line) */
    white-space: nowrap;
}

/* my own class for all the buttons in the document */
.default-button{
    color:#174e82; 
    border: 2px solid #174e82;
    background-color: white;
    border-radius: 8px;
    padding: 8px 20px;
    /* This is so that everything is vertically aligned */
    margin-top:1px;
    /* this defines the time it takes to change to the "hover" setting */
    font-family: 'kepler-std-dis', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.default-button:hover{
    background-color: #174e82b8;
    color: white;
    transition-duration: 0.6s;
}

.title_class{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 96px;
    color: #0e2378;
}

.subtitle-right{
    text-align: right;
    padding: 25px;
    font-size: 28px;
    font-weight:360;
}
.subtitle-left{
    text-align: left;
    padding: 25px;
    font-size: 28px;
    font-weight:360;

}

.pos-background{
    background-image: url("images/ALL_IMAGES/MY_OWN_IMAGES/POS pictures.png");
    background-size: cover;
    background-position: 40%;
    background-blend-mode: lighten; 
    background-color:rgba(255, 255, 255, 0.749);

}

.subheadline{
    padding-top: 30px;
    text-align: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    font-family: 'Merriweather', serif;
    color:#293b82;
}



.descriptions{
    font-size: 25px;
    font-weight: 600;
    color:#000000b6;
    font-family: 'Roboto', sans-serif;
}

.descriptions-light{
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight:400;
    color:#000000b6;
}
.link-image{
    text-decoration: none;
}
.product-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size:42px;
    font-weight:600;
    color:#000000b6;
    text-align: right ;
    padding: 170px;

}
.index-product1{
    background-image: url("images/ALL_IMAGES/PDV recent images/0. All-in-one dual screen black.png"); 
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
    column-count: 2;
    
}
.index-product1:hover{
    background-image: url("images/ALL_IMAGES/PDV recent images/1. Dual Screen-profile.png"); 
    transition-duration:6s;
    /* background-size: 20%; */
    background-color: rgba(172, 192, 248, 0.275);
}
.index-product2{
    background-image: url("images/ALL_IMAGES/MY_OWN_IMAGES/Image women pdv.jpg");
    background-size: cover;
    background-position: 5%;
    background-blend-mode: lighten; 
    /* padding-top: -0px;
    padding-bottom: -50px; */
    background-color:rgba(255, 255, 255, 0.739);

}
.index-product2:hover{
    transition-duration: 2s;
    background-color: rgba(248, 185, 180, 0.471);

}
.index-product3{
    background-image: url("images/ALL_IMAGES/Accessories/USED_MEV_HALF.png"); 
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 40%;
    /* padding-top: 200px;
    padding-bottom: 200px; */
    background-color: white;
    column-count: 2;
    
}
.index-product3:hover{
    background-image: url("images/ALL_IMAGES/Accessories/USED_MEV_HALF.png"); 
    transition-duration: 2s;
    background-size: 42%;
    /* background-size: 20%; */
    background-color: rgba(125, 155, 238, 0.275);
}
.index-product4{
    
    background-image: url("images/ALL_IMAGES/MY_OWN_IMAGES/person scanning card.png"); 
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-blend-mode: lighten; 
    background-color: rgba(255, 255, 255, 0.915);
    text-align:center;
    column-count:2;
    padding-bottom: -100px;
}
.index-product4:hover{
    transition-duration:2s;
    background-color: rgba(255, 255, 255, 0.669);
}


.links{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#084c90;
    text-decoration: none;
    border-bottom: 2px solid #084c90;
    
}

.links:hover{
    color: #00000085;
    transition-duration: 0.8s;
    font-size: 20px;
    border-bottom: 1px solid #0000002e;

}

.bubble {
	/* // layout */
	position: relative;
	max-width: 35em;	
	/* // looks */
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

/* This creates the little cue for the bubble */
.bubble::before {
	/* // layout */
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em;     /* // offset should move with padding of parent */
	border: .75rem solid transparent;
	border-top: none;

	/* // looks */
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

/* !systèmes de point de vente */
.produits-hanasis1{
    height: 300px;
    background-size:90%;
    background-repeat:no-repeat;
    background-position: 50%;
    padding: 50px;
    background-image: url("images/ALL_IMAGES/PDV recent images/0.\ All-in-one\ dual\ screen.png");
}
.produits-hanasis1:hover{
    transition-duration:2s;
    background-image: url("images/ALL_IMAGES/PDV recent images/0.\ All-in-one\ dual\ screen\ black.png");
    margin-bottom: 50px;
}
.produits-hanasis2{
    height: 300px;
    background-size:90%;
    background-repeat:no-repeat;
    background-position: 50%;
    padding: 50px;
    background-image: url("images/ALL_IMAGES/PDV recent images/1.\ Dual\ Screen.png");
}
.produits-hanasis2:hover{
    margin-bottom: 50px;
    background-image: url("images/ALL_IMAGES/PDV recent images/1.\ Dual\ Screen-profile.png");
    transition-duration: 2s;
}

.produits-hanasis3{
    height: 300px;
    background-size:90%;
    background-repeat:no-repeat;
    background-position: 50%;
    padding: 50px;
    background-image: url("images/ALL_IMAGES/PDV recent images/3.\ Hanasis\ white\ V2.PNG");
    background-position-y: 40%;
}
.produits-hanasis3:hover{
    background-image: url("images/ALL_IMAGES/PDV recent images/1.\ Dual\ Screen\ Front.png");
    transition-duration: 2s;
    margin-bottom: 50px;
}
.tysso:hover{
    transition-duration: 1s;
    background-color:rgba(161, 181, 240, 0.266);
}

.produits-tysso1{
    height: 300px;
    background-size:70%;
    background-repeat:no-repeat;
    background-position: 50%;
    background-position-y: 80%;
    margin-bottom: 100px;
    background-image: url("images/ALL_IMAGES/PDV recent images/4.\ Random\ Dual\ Screen.png");
}
.produits-tysso2{
    height: 300px;
    padding: 5px;
    background-size:65%;
    background-repeat:no-repeat;
    background-position: 50%;
    background-position-y: 100%;
    padding: 50px;
    background-image: url("images/ALL_IMAGES/All-in-one/TYSSO\ 1000-B.png");
    
    
}
.produits-tysso3{
    height: 300px;
    padding: 5px;
    background-size:65%;
    background-repeat:no-repeat;
    background-position: 50%;
    background-position-y: 20%;
    padding: 50px;
    background-image: url("images/ALL_IMAGES/PDV recent images/4.\ Random\ Other\ pos.png");   
}

.produits-kiosk1{
    height: 400px;
    background-size:70%;
    background-repeat:no-repeat;
    background-position: 50%;
    background-position-y: 10%;
    padding: 50px;
    background-image: url("images/ALL_IMAGES/All-in-one/5._exclusive_kiosk.png"); 
}

.produits-kiosk1:hover{
    transition-duration: 2s;
    background-image: url("images/ALL_IMAGES/All-in-one/5._exclusive_kiosk-dark.png");
    
}

.background-kiosk-mini{
    background-color: #a2c8f2;
}

.produits-kioskmini1{
    height: 500px;
    background-size:50%;
    background-repeat:no-repeat;
    background-position: 50%;
    background-position-y: 50%;
    margin-bottom: 100px;
    background-image:url("images/ALL_IMAGES/PDV recent images/exclusive-kiosk.jpeg");
}
.produits-kioskmini2{
    height: 500px;
    background-size:50%;
    background-repeat:no-repeat;
    background-position: 50%;
    background-position-y: 50%;
    margin-bottom: 100px;
    background-image: url("images/ALL_IMAGES/PDV recent images/exclusive-kiosk2.jpg");
}

/* !accessoires */
.mev-background{
    background-color: rgba(255, 255, 255, 0);
    /* important to set the position to relative so that the z-index works */
    position: relative;
    z-index:5;
    /* padding:50px; */
    /* margin-left: -150px; */  
    /* padding-bottom: -100px; */
}
.mev-background-image{
    background-image: url("images/ALL_IMAGES/Accessories/MEV.png");
    background-size: 80% ;
    background-repeat: no-repeat;
    background-position-y: 50%;
    /* background-position-x: -150%; */
    padding: 50px;
}
.mev-background-2{
    height:350px;
    background-image: url("images/ALL_IMAGES/Accessories/MEV_1030\ --\ new.png");
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: 30%;
    padding-top:-30px;
    /* background-position-x: -150%; */
    padding: 50px;
} 
.mev-descriptions{
    font-size: 25px;
    /* padding-left: 90px; */
    text-align: left;
    /* vertical-align: middle; */
    /* position: relative; */
    padding-top: 80px;
    /* z-index: 1; I triedd to hide the text behind image, but it's ugly, but yea. */
    /* background-image:  */
}
.mev-background2{
    background-color: rgba(196, 211, 244, 0.373);
    padding:20px;
    /* padding: 50px; */
}
.mev-descriptions2{
    font-size: 35px;
    padding-right:-50px;
    text-align: right;
    padding-top: 50px;
    padding-bottom:50px;
    /* vertical-align: middle; */
    /* position: relative; */
}

.haute-tech-orientale-word{
    font-size: 55px;
    font-family: 'Lobster', cursive;
    color: #21378d;
}

.important-words{
    font-family:Arial, Helvetica, sans-serif; 
    color: #21378d;
    font-size: 35px;
}

.printer-image{
    /* centering an image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
      
}
.list-elements{
    padding: 50px;
    font-size: 25px;
    font-weight:500;
}
.noms-accessoires{
    text-align: center;
    font-size: 35px;
}
.scanner-background1{
    background-image: url("images/ALL_IMAGES/Accessories/Slim\ CCD\ SCanner\ CS-1600.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y:50%;
    background-position-x: 50%;
    background-color: #ffffffe6;
    /* here, i want the people to see my background image, so i set a height! (i don't need the fake picture of transparent stuff) */
    height: 350px;
    z-index:3
}   

.scanner-background2{
    background-image: url("images/ALL_IMAGES/Accessories/OMNI-352\ Dual\ Scan\ Modes\ Barcode\ Scanner.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-y:50%;
    background-position-x: 50%;
    background-color: #ffffffe6;
    height:350px;
}
.scanner-background3{
    background-image: url("images/ALL_IMAGES/Accessories/NO_\ Laser\ Barcode\ Scanner\ GS-6500.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y:50%;
    background-position-x: 50%;
    background-color: #ffffffe6;
    height:350px;

}

.balance-background1{
    background-image: url("images/ALL_IMAGES/Accessories/Datalogic\ Magellan\ 8300\ Scanner\ and\ Scalers.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-y:50%;
    background-position-x: 50%;
    background-color: #ffffffe6;
    /* * here, i want the people to see my background image, so i set a height! (i don't need the fake picture of transparent stuff) */ 
    height: 350px;
}

.balance-background2{
    background-image: url("images/ALL_IMAGES/Accessories/Brecknell\ Scales\ 6700U\ Series.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-y:50%;
    background-position-x: 50%;
    background-color: #ffffffe6;
    /* * here, i want the people to see my background image, so i set a height! (i don't need the fake picture of transparent stuff) */ 
    height: 350px;
}

/* !logiciel-elements */

.unordered_lists{
    list-style-image: url("images/ALL_IMAGES/HauteTechOrientale-logos/HTO_list_logo.png");
}

.important-words-logiciel{
    font-family:Arial, Helvetica, sans-serif; 
    color:#ba4743;
    font-size: 30px;
}

.subheadline-logiciels{
    text-align: left;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    font-family: 'Merriweather', serif;
    color:#293b82;
}
.answer-headline{
    text-align: left;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    color:#070707;
}
.logiciel-title{
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #0e2378;
}

.logiciel-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.logiciel-main{
    background-image: url("images/ALL_IMAGES/Logiciel-page/main-page.webp");
    background-repeat:none;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #ffffffb9;
    background-position: 50%;
    background-position-y:30%;
    padding: 30px;
}

.logiciel-main:hover{
    transition-duration: 1s;
    background-color: #ffffffe9;
}
.logiciel-restaurants{
    background-image: url("images/ALL_IMAGES/Logiciel-page/Commande-avec-tablette.jpg");
    background-repeat:none;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #fffffff1;
    background-position: 50%;
    padding: 50px;
}
.logiciel-restaurants:hover{
    background-color: #ffffffd5;
    transition-duration: 1s;
}
.unordered_lists-restaurants{
    list-style-image:url("images/ALL_IMAGES/Logiciel-page/icon-restaurant.png");
    
}

.logiciel-epicerie{
    background-image: url("images/ALL_IMAGES/Logiciel-page/retail-storage.webp");
    background-repeat:none;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #fffffff1;
    background-position: 50%;
    padding: 50px;
}
.logiciel-epicerie:hover{
    background-color: #ffffffe5;
    transition-duration: 1s;
}
.unordered_lists-epiceries{
    list-style-image:url("images/ALL_IMAGES/Logiciel-page/icon-epicerie.png");
    
}
.logiciel-cremerie{
    background-image: url("images/ALL_IMAGES/Logiciel-page/crème-glacée.webp");
    background-repeat:none;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #fffffff1;
    background-position: 50%;
    padding: 50px;

}
.logiciel-cremerie:hover{
    background-color: #ffffffd5;
    transition-duration: 1s;
}
.unordered_lists-cremerie{
    list-style-image:url("images/ALL_IMAGES/Logiciel-page/icon-cafe.png");
    
}
.logiciel-spas{
    background-image: url("images/ALL_IMAGES/Logiciel-page/spa\ et\ sauna.webp");
    background-repeat:none;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #fffffff1;
    background-position: 50%;
    padding: 50px;
}
.logiciel-spas:hover{
    background-color: #ffffffd5;
    transition-duration: 1s;
}
.unordered_lists-spas{
    list-style-image:url("images/ALL_IMAGES/Logiciel-page/icon-spa.png");
}
.logiciel-magasin{
    background-image: url("images/ALL_IMAGES/Logiciel-page/location-et-livre.webp");
    background-repeat:none;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #fffffff1;
    background-position: 50%;
    padding: 50px;
}
.logiciel-magasin:hover{
    transition-duration:1s;
    background-color: #ffffffd5;
}
.unordered_lists-magasin{
    list-style-image:url("images/ALL_IMAGES/Logiciel-page/icon-book.png");
    
}
.logiciel-autre{
    background-image: url("images/ALL_IMAGES/Logiciel-page/restaurants.webp");
    background-repeat:none;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #ffffffc1;
    background-position: 50%;
    padding: 50px;
}
.logiciel-autre:hover{
    background-color: #fffffff1;
    transition-duration:1s;
}
.unordered_lists-autre{
    list-style-image:url("images/ALL_IMAGES/Logiciel-page/icon-book.png");
    
}
/* !contactez-nous */
.appelez-nous-background{
    background-image: url("images/ALL_IMAGES/MY_OWN_IMAGES/Montreal.jpg");
    background-size: cover;
    background-position: 40%;
    font-size: 50px; 
    font-family: 'Lobster', cursive;
    background-blend-mode: lighten; 
    background-color:rgba(255, 255, 255, 0.835);
    padding: 30px;
}

.web-engineer-background{
    padding-top: 40px;
    background-image: url("images/ALL_IMAGES/MY_OWN_IMAGES/software engineer2.jpg");
    background-size: cover;
    background-position: 40%;
    /* this will merge the background and the background color  */
    background-blend-mode: multiply; /*make the image darker*/
    background-color:rgba(0, 0, 0, 0.496);
    margin-bottom: -20px; /*this is to remove the little space between the fotter and the image*/
    padding-bottom: 20px;
}